:root {
    --canvas-width: 800px;
    --canvas-height: 600px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#canvasEl {
    width: var(--canvas-width);
    height: var(--canvas-height);
    background: #19142B;
}

*, *::before, *::after {
    box-sizing: inherit
}
