:root {
    --canvas-grid-width: 21;
    --canvas-grid-height: 11;
    --canvas-ratio: calc(var(--canvas-grid-width) / var(--canvas-grid-height));

    --canvas-grid-size: 64;
    --canvas-width: min(
            100vw,
            calc(var(--canvas-grid-width) * var(--canvas-grid-size) * 1px)
    );
    --canvas-height: min(
            80vh,
            calc(var(--canvas-grid-height) * var(--canvas-grid-size) * 1px)
    );
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    word-wrap: anywhere;
}

#canvasEl {
    aspect-ratio: var(--canvas-ratio);
    width: var(--canvas-width);
    max-width: calc(var(--canvas-height) * var(--canvas-ratio));
    height: var(--canvas-height);
    max-height: calc(var(--canvas-width) / var(--canvas-ratio));
    background: #19142B;
}

*, *::before, *::after {
    box-sizing: inherit
}
